# Copier vers keystore.properties et renseigner les valeurs, ou lancer :
#   ./scripts/create-android-release-keystore.sh 'votre_mot_de_passe'
#
# Génération manuelle :
#   cd android
#   keytool -genkeypair -v -storetype PKCS12 -keystore airgo-release.keystore \
#     -alias airgo -keyalg RSA -keysize 2048 -validity 10000

storeFile=airgo-release.keystore
keyAlias=airgo
storePassword=VOTRE_MOT_DE_PASSE_KEYSTORE
keyPassword=VOTRE_MOT_DE_PASSE_CLE
